@import "tailwindcss";

@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(var(--r, 0deg));
  }
  50% {
    transform: translateY(-10px) rotate(var(--r, 0deg));
  }
}

.floating-icon {
  animation: float 6s ease-in-out infinite;
  animation-delay: calc(var(--delay, 0s));
}
